version: '3.9'

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - '6379:6379'
    networks:
      - app-network

  nest-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest-app
    ports:
      - '3000:3000'
    depends_on:
      - redis
    env_file:
      - .env
    command: ['node', 'dist/main.js'] # <--- MUY IMPORTANTE
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
